<%= content_for :main_content do %>

    <p>Please Click the round which you want to initiate</p>
    <table>
      <% @rounds.each_with_index do |round, index| %>
          <% if round.number > 0 %>


          <tr>
            <th>
              <%= index %>

            </th>
            <td>
              <%= link_to "Initiate Round", initiate_simulation_path(:simulation_id=>@simulation.id, :round_id=>round.id) %>
            </td>
            <td>
              <% if round.played %>
              <%= link_to "Close Round ",initiate_round_calculation_path(:simulation_id=>@simulation.id,:round_id=>round.id) %>
                  <% end %>

            </td>
          </tr>

      <% end %>



      <% end %>


    </table>


<% end %>