<%= content_for :main_content do %>
<h1>Editing player_round_investment</h1>

<%= render 'form' %>

<%= link_to 'Show', @player_round_investment %> |
<%= link_to 'Back', player_round_investments_path %>
<% end %>