<%= content_for :main_content do %>
<h1>Editing simulation_decision_parameter</h1>

<%= render 'form' %>

<%= link_to 'Show', @simulation_decision_parameter %> |
<%= link_to 'Back', simulation_decision_parameters_path %>
<% end %>