<%= content_for :main_content do %>
<h1>Editing default_player_datum</h1>

<%= render 'form' %>

<%= link_to 'Show', @default_player_datum %> |
<%= link_to 'Back', default_player_data_path %>

<% end %>