<div style="color:#ffffff;">
  <table border="1" style="background-color: #000000;color: #ffffff;">
    <tr>
      <td></td>
      <% @markets.each do |market| %>
          <td>
            <%= market.name %>
          </td>
      <% end %>
    </tr>

    <% @markets.each_with_index do |source_market, index| %>
        <tr>
          <td><%= source_market.name %></td>
          <% @markets.each do |target_market| %>
              <% if @tmp_distances[source_market.id][target_market.id].nil? %>
                  <td><%= link_to "Set Distance",new_market_distance_path(:market_id=>source_market.id,:target_market_id=>target_market.id) %></td>
                  <% else %>
          <td><%= @tmp_distances[source_market.id][target_market.id] %></td>
                  <% end %>
              <% end %>


        </tr>
    <% end %>
  </table>

  <div style="color: black;">

    </div>
</div>
