<% @student_group_users.each do |user| %>
    <div class="student_name">

      <%= User.find(user.user_id).fullname %>
      <div class="remove_icon">
        <a href="#" id="<%= user.id %>" class=remove_icon> X</a>
      </div>


    </div>
<% end %>

