<%= content_for :main_content do %>
<h1>Editing player_round_expense</h1>

<%= render 'form' %>

<%= link_to 'Show', @player_round_expense %> |
<%= link_to 'Back', player_round_expenses_path %>

<% end %>