<%= content_for :page_header do %>
    Listing <%= @expense_type.name %> expense
<% end %>

<ul>
  <% @expenses.each do |expense| %>
      <li>
        <%= expense.name %>
      </li>
  <% end %>
</ul>
<%= link_to 'Back', expense_types_path %>